whitenoise
psycopg2-binary
appdirs==1.4.4
asgiref==3.3.4
certifi==2020.4.5.1
common-cmplr-lib-rt==2021.2.0
common-cmplr-lic-rt==2021.2.0
distlib==0.3.1
Django==2.2
django-cors-headers==3.7.0
django-crispy-forms==1.10.0
django-queryset-csv==1.1.0
django-xhtml2pdf==0.0.4
djangorestframework==3.12.4
dpcpp-cpp-rt==2021.2.0
filelock==3.0.12
html5lib==1.0.1
importlib-metadata==4.0.1
importlib-resources==5.1.2
intel-openmp==2021.2.0
mkl
numpy
opencl-rt
Pillow
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
reportlab==3.5.67
six==1.14.0
sqlparse==0.4.1
tbb==2021.2.0
typing-extensions==3.10.0.0
ua-parser==0.10.0
unicodecsv==0.14.1
virtualenv==20.4.4
virtualenv-clone==0.5.4
webencodings==0.5.1
wincertstore==0.2
zipp==3.4.1
xhtml2pdf==0.2.4